In [38]:
import numpy as np
import pandas as pd

In [45]:
df=pd.read_csv('C:\\Users\\BIT\\Downloads\\Modified_Jira_Export_Filled.csv')

In [46]:
df.sample()

,Issue key,Issue id,Issue Type,Project name,Project lead,Priority,Assignee,Reporter,Due date,Description,...,Inward issue link (Polaris issue link).1,Inward issue link (Problem/Incident),Outward issue link (Problem/Incident),Inward issue link (Relates),Outward issue link (Relates),Status Category,Status Category Changed,Unnamed: 36,Unnamed: 37,Created
254,LEVI-1790,24623,Task,Levi,Arun Kumar Saxena,P1,Anand Kumar Chaudhary,Anand Kumar Chaudhary,<function <lambda> at 0x7eee8b9024f0>,NaN,...,NaN,NaN,NaN,NaN,NaN,In Progress,17-02-2025 12:43,NaN,NaN,10-02-2025 17:24

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Issue key                                 2009 non-null   object
 1   Issue id                                  2009 non-null   int64
 2   Issue Type                                2009 non-null   object
 3   Project name                              2009 non-null   object
 4   Project lead                              2009 non-null   object
 5   Priority                                  2009 non-null   object
 6   Assignee                                  1913 non-null   object
 7   Reporter                                  2009 non-null   object
 8   Due date                                  2009 non-null   object
 9   Description                               1345 non-null   object
 10  Original estimate                         1024 non-null   float64
 11  Remaining Estimate                        1725 non-null   float64
 12  Time Spent                                1660 non-null   float64
 13  Inward issue link (Blocks)                6 non-null      object
 14  Inward issue link (Blocks).1              3 non-null      object
 15  Inward issue link (Blocks).2              2 non-null      object
 16  Inward issue link (Blocks).3              1 non-null      object
 17  Inward issue link (Blocks).4              1 non-null      object
 18  Outward issue link (Blocks)               29 non-null     object
 19  Inward issue link (Cloners)               219 non-null    object
 20  Inward issue link (Cloners).1             53 non-null     object
 21  Inward issue link (Cloners).2             21 non-null     object
 22  Inward issue link (Cloners).3             10 non-null     object
 23  Inward issue link (Cloners).4             3 non-null      object
 24  Inward issue link (Cloners).5             3 non-null      object
 25  Inward issue link (Cloners).6             1 non-null      object
 26  Inward issue link (Cloners).7             1 non-null      object
 27  Outward issue link (Cloners)              312 non-null    object
 28  Inward issue link (Polaris issue link)    1 non-null      object
 29  Inward issue link (Polaris issue link).1  1 non-null      object
 30  Inward issue link (Problem/Incident)      1 non-null      object
 31  Outward issue link (Problem/Incident)     1 non-null      object
 32  Inward issue link (Relates)               4 non-null      object
 33  Outward issue link (Relates)              5 non-null      object
 34  Status Category                           2009 non-null   object
 35  Status Category Changed                   2009 non-null   object
 36  Unnamed: 36                               0 non-null      float64
 37  Unnamed: 37                               0 non-null      float64
 38  Created                                   2009 non-null   object
dtypes: float64(5), int64(1), object(33)
memory usage: 612.2+ KB

In [49]:
df.columns

Index(['Issue key', 'Issue id', 'Issue Type', 'Project name', 'Project lead',
       'Priority', 'Assignee', 'Reporter', 'Due date', 'Description',
       'Original estimate', 'Remaining Estimate', 'Time Spent',
       'Inward issue link (Blocks)', 'Inward issue link (Blocks).1',
       'Inward issue link (Blocks).2', 'Inward issue link (Blocks).3',
       'Inward issue link (Blocks).4', 'Outward issue link (Blocks)',
       'Inward issue link (Cloners)', 'Inward issue link (Cloners).1',
       'Inward issue link (Cloners).2', 'Inward issue link (Cloners).3',
       'Inward issue link (Cloners).4', 'Inward issue link (Cloners).5',
       'Inward issue link (Cloners).6', 'Inward issue link (Cloners).7',
       'Outward issue link (Cloners)',
       'Inward issue link (Polaris issue link)',
       'Inward issue link (Polaris issue link).1',
       'Inward issue link (Problem/Incident)',
       'Outward issue link (Problem/Incident)', 'Inward issue link (Relates)',
       'Outward issue link (Relates)', 'Status Category',
       'Status Category Changed', 'Unnamed: 36', 'Unnamed: 37', 'Created'],
      dtype='object')

In [50]:
inward_issue_columns = [col for col in df.columns if col.startswith("Inward issue link (Blocks)")]

In [51]:
inward_issue_columns

['Inward issue link (Blocks)',
 'Inward issue link (Blocks).1',
 'Inward issue link (Blocks).2',
 'Inward issue link (Blocks).3',
 'Inward issue link (Blocks).4']

In [52]:
df['inward_issue_block'] = df[inward_issue_columns].notnull().any(axis=1).astype(int)

In [53]:
inward_issue_columns__cloners= [col for col in df.columns if col.startswith("Inward issue link (Cloners)")]

In [54]:
df['inward_issue_clone'] = df[inward_issue_columns__cloners].notnull().any(axis=1).astype(int)

In [55]:
inward_issue_columns__polaris= [col for col in df.columns if col.startswith("Inward issue link (Polaris issue link)")]

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 41 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Issue key                                 2009 non-null   object
 1   Issue id                                  2009 non-null   int64
 2   Issue Type                                2009 non-null   object
 3   Project name                              2009 non-null   object
 4   Project lead                              2009 non-null   object
 5   Priority                                  2009 non-null   object
 6   Assignee                                  1913 non-null   object
 7   Reporter                                  2009 non-null   object
 8   Due date                                  2009 non-null   object
 9   Description                               1345 non-null   object
 10  Original estimate                         1024 non-null   float64
 11  Remaining Estimate                        1725 non-null   float64
 12  Time Spent                                1660 non-null   float64
 13  Inward issue link (Blocks)                6 non-null      object
 14  Inward issue link (Blocks).1              3 non-null      object
 15  Inward issue link (Blocks).2              2 non-null      object
 16  Inward issue link (Blocks).3              1 non-null      object
 17  Inward issue link (Blocks).4              1 non-null      object
 18  Outward issue link (Blocks)               29 non-null     object
 19  Inward issue link (Cloners)               219 non-null    object
 20  Inward issue link (Cloners).1             53 non-null     object
 21  Inward issue link (Cloners).2             21 non-null     object
 22  Inward issue link (Cloners).3             10 non-null     object
 23  Inward issue link (Cloners).4             3 non-null      object
 24  Inward issue link (Cloners).5             3 non-null      object
 25  Inward issue link (Cloners).6             1 non-null      object
 26  Inward issue link (Cloners).7             1 non-null      object
 27  Outward issue link (Cloners)              312 non-null    object
 28  Inward issue link (Polaris issue link)    1 non-null      object
 29  Inward issue link (Polaris issue link).1  1 non-null      object
 30  Inward issue link (Problem/Incident)      1 non-null      object
 31  Outward issue link (Problem/Incident)     1 non-null      object
 32  Inward issue link (Relates)               4 non-null      object
 33  Outward issue link (Relates)              5 non-null      object
 34  Status Category                           2009 non-null   object
 35  Status Category Changed                   2009 non-null   object
 36  Unnamed: 36                               0 non-null      float64
 37  Unnamed: 37                               0 non-null      float64
 38  Created                                   2009 non-null   object
 39  inward_issue_block                        2009 non-null   int32
 40  inward_issue_clone                        2009 non-null   int32
dtypes: float64(5), int32(2), int64(1), object(33)
memory usage: 627.9+ KB

In [57]:
df['inward_issue_polaris'] = df[inward_issue_columns__polaris].notnull().any(axis=1).astype(int)

In [58]:
inward_issue_columns__relates= [col for col in df.columns if col.startswith("Inward issue link (Relates")]
df['inward_issue_relates'] = df[inward_issue_columns__relates].notnull().any(axis=1).astype(int)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 43 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Issue key                                 2009 non-null   object
 1   Issue id                                  2009 non-null   int64
 2   Issue Type                                2009 non-null   object
 3   Project name                              2009 non-null   object
 4   Project lead                              2009 non-null   object
 5   Priority                                  2009 non-null   object
 6   Assignee                                  1913 non-null   object
 7   Reporter                                  2009 non-null   object
 8   Due date                                  2009 non-null   object
 9   Description                               1345 non-null   object
 10  Original estimate                         1024 non-null   float64
 11  Remaining Estimate                        1725 non-null   float64
 12  Time Spent                                1660 non-null   float64
 13  Inward issue link (Blocks)                6 non-null      object
 14  Inward issue link (Blocks).1              3 non-null      object
 15  Inward issue link (Blocks).2              2 non-null      object
 16  Inward issue link (Blocks).3              1 non-null      object
 17  Inward issue link (Blocks).4              1 non-null      object
 18  Outward issue link (Blocks)               29 non-null     object
 19  Inward issue link (Cloners)               219 non-null    object
 20  Inward issue link (Cloners).1             53 non-null     object
 21  Inward issue link (Cloners).2             21 non-null     object
 22  Inward issue link (Cloners).3             10 non-null     object
 23  Inward issue link (Cloners).4             3 non-null      object
 24  Inward issue link (Cloners).5             3 non-null      object
 25  Inward issue link (Cloners).6             1 non-null      object
 26  Inward issue link (Cloners).7             1 non-null      object
 27  Outward issue link (Cloners)              312 non-null    object
 28  Inward issue link (Polaris issue link)    1 non-null      object
 29  Inward issue link (Polaris issue link).1  1 non-null      object
 30  Inward issue link (Problem/Incident)      1 non-null      object
 31  Outward issue link (Problem/Incident)     1 non-null      object
 32  Inward issue link (Relates)               4 non-null      object
 33  Outward issue link (Relates)              5 non-null      object
 34  Status Category                           2009 non-null   object
 35  Status Category Changed                   2009 non-null   object
 36  Unnamed: 36                               0 non-null      float64
 37  Unnamed: 37                               0 non-null      float64
 38  Created                                   2009 non-null   object
 39  inward_issue_block                        2009 non-null   int32
 40  inward_issue_clone                        2009 non-null   int32
 41  inward_issue_polaris                      2009 non-null   int32
 42  inward_issue_relates                      2009 non-null   int32
dtypes: float64(5), int32(4), int64(1), object(33)
memory usage: 643.6+ KB

In [60]:
outward_issue_columns= [col for col in df.columns if col.startswith("Outward issue link")]

In [61]:
outward_issue_columns

['Outward issue link (Blocks)',
 'Outward issue link (Cloners)',
 'Outward issue link (Problem/Incident)',
 'Outward issue link (Relates)']

In [62]:
outward_issue_columns_Blocks= [col for col in df.columns if col.startswith("Outward issue link (Blocks)")]
outward_issue_columns_Cloners= [col for col in df.columns if col.startswith("Outward issue link (Cloners)")]
outward_issue_columns_Problem= [col for col in df.columns if col.startswith("Outward issue link (Problem/Incident)")]
outward_issue_columns_Relates= [col for col in df.columns if col.startswith("Outward issue link (Relates)")]

In [63]:
df['outward_issue_columns_Blocks'] = df[outward_issue_columns_Blocks].notnull().any(axis=1).astype(int)
df['outward_issue_columns_Cloners'] = df[outward_issue_columns_Cloners].notnull().any(axis=1).astype(int)
df['outward_issue_columns_Problem'] = df[outward_issue_columns_Problem].notnull().any(axis=1).astype(int)
df['outward_issue_columns_Relates'] = df[outward_issue_columns_Relates].notnull().any(axis=1).astype(int)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 47 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Issue key                                 2009 non-null   object
 1   Issue id                                  2009 non-null   int64
 2   Issue Type                                2009 non-null   object
 3   Project name                              2009 non-null   object
 4   Project lead                              2009 non-null   object
 5   Priority                                  2009 non-null   object
 6   Assignee                                  1913 non-null   object
 7   Reporter                                  2009 non-null   object
 8   Due date                                  2009 non-null   object
 9   Description                               1345 non-null   object
 10  Original estimate                         1024 non-null   float64
 11  Remaining Estimate                        1725 non-null   float64
 12  Time Spent                                1660 non-null   float64
 13  Inward issue link (Blocks)                6 non-null      object
 14  Inward issue link (Blocks).1              3 non-null      object
 15  Inward issue link (Blocks).2              2 non-null      object
 16  Inward issue link (Blocks).3              1 non-null      object
 17  Inward issue link (Blocks).4              1 non-null      object
 18  Outward issue link (Blocks)               29 non-null     object
 19  Inward issue link (Cloners)               219 non-null    object
 20  Inward issue link (Cloners).1             53 non-null     object
 21  Inward issue link (Cloners).2             21 non-null     object
 22  Inward issue link (Cloners).3             10 non-null     object
 23  Inward issue link (Cloners).4             3 non-null      object
 24  Inward issue link (Cloners).5             3 non-null      object
 25  Inward issue link (Cloners).6             1 non-null      object
 26  Inward issue link (Cloners).7             1 non-null      object
 27  Outward issue link (Cloners)              312 non-null    object
 28  Inward issue link (Polaris issue link)    1 non-null      object
 29  Inward issue link (Polaris issue link).1  1 non-null      object
 30  Inward issue link (Problem/Incident)      1 non-null      object
 31  Outward issue link (Problem/Incident)     1 non-null      object
 32  Inward issue link (Relates)               4 non-null      object
 33  Outward issue link (Relates)              5 non-null      object
 34  Status Category                           2009 non-null   object
 35  Status Category Changed                   2009 non-null   object
 36  Unnamed: 36                               0 non-null      float64
 37  Unnamed: 37                               0 non-null      float64
 38  Created                                   2009 non-null   object
 39  inward_issue_block                        2009 non-null   int32
 40  inward_issue_clone                        2009 non-null   int32
 41  inward_issue_polaris                      2009 non-null   int32
 42  inward_issue_relates                      2009 non-null   int32
 43  outward_issue_columns_Blocks              2009 non-null   int32
 44  outward_issue_columns_Cloners             2009 non-null   int32
 45  outward_issue_columns_Problem             2009 non-null   int32
 46  outward_issue_columns_Relates             2009 non-null   int32
dtypes: float64(5), int32(8), int64(1), object(33)
memory usage: 675.0+ KB

In [65]:
df.sample(5)

,Issue key,Issue id,Issue Type,Project name,Project lead,Priority,Assignee,Reporter,Due date,Description,...,Unnamed: 37,Created,inward_issue_block,inward_issue_clone,inward_issue_polaris,inward_issue_relates,outward_issue_columns_Blocks,outward_issue_columns_Cloners,outward_issue_columns_Problem,outward_issue_columns_Relates
552,LEVI-1481,22641,Bug,Levi,Arun Kumar Saxena,P1,Dhirendra Pratap,David Merrit,<function <lambda> at 0x7eee8b9024f0>,NaN,...,NaN,11-11-2024 10:22,0,0,0,0,0,0,0,0
872,LEVI-1129,20404,Bug,Levi,Arun Kumar Saxena,P2,Raghav Singh,Saugata Chandra,<function <lambda> at 0x7eee8b9024f0>,# HR Dashboard/Recruiter Dashboard - outline v...,...,NaN,09-08-2024 16:11,0,0,0,0,0,0,0,0
472,LEVI-1568,22946,Task,Levi,Arun Kumar Saxena,P2,Raghav Singh,Raghav Singh,<function <lambda> at 0x7eee8b9024f0>,NaN,...,NaN,27-11-2024 16:21,0,0,0,0,0,0,0,0
915,LEVI-887,20355,Bug,Levi,Arun Kumar Saxena,P2,Raghav Singh,Shivangi Mehra,<function <lambda> at 0x7eee8b9024f0>,"\n\n!image (28).png|width=940,height=448,alt=""...",...,NaN,05-08-2024 14:59,0,0,0,0,0,0,0,0
217,LEVI-1828,24883,Task,Levi,Arun Kumar Saxena,P2,Prateek Chaturvedi,Prateek Chaturvedi,<function <lambda> at 0x7eee8b9024f0>,* Create up-to-date guide for integration setu...,...,NaN,19-02-2025 16:49,0,0,0,0,0,0,0,0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 47 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Issue key                                 2009 non-null   object
 1   Issue id                                  2009 non-null   int64
 2   Issue Type                                2009 non-null   object
 3   Project name                              2009 non-null   object
 4   Project lead                              2009 non-null   object
 5   Priority                                  2009 non-null   object
 6   Assignee                                  1913 non-null   object
 7   Reporter                                  2009 non-null   object
 8   Due date                                  2009 non-null   object
 9   Description                               1345 non-null   object
 10  Original estimate                         1024 non-null   float64
 11  Remaining Estimate                        1725 non-null   float64
 12  Time Spent                                1660 non-null   float64
 13  Inward issue link (Blocks)                6 non-null      object
 14  Inward issue link (Blocks).1              3 non-null      object
 15  Inward issue link (Blocks).2              2 non-null      object
 16  Inward issue link (Blocks).3              1 non-null      object
 17  Inward issue link (Blocks).4              1 non-null      object
 18  Outward issue link (Blocks)               29 non-null     object
 19  Inward issue link (Cloners)               219 non-null    object
 20  Inward issue link (Cloners).1             53 non-null     object
 21  Inward issue link (Cloners).2             21 non-null     object
 22  Inward issue link (Cloners).3             10 non-null     object
 23  Inward issue link (Cloners).4             3 non-null      object
 24  Inward issue link (Cloners).5             3 non-null      object
 25  Inward issue link (Cloners).6             1 non-null      object
 26  Inward issue link (Cloners).7             1 non-null      object
 27  Outward issue link (Cloners)              312 non-null    object
 28  Inward issue link (Polaris issue link)    1 non-null      object
 29  Inward issue link (Polaris issue link).1  1 non-null      object
 30  Inward issue link (Problem/Incident)      1 non-null      object
 31  Outward issue link (Problem/Incident)     1 non-null      object
 32  Inward issue link (Relates)               4 non-null      object
 33  Outward issue link (Relates)              5 non-null      object
 34  Status Category                           2009 non-null   object
 35  Status Category Changed                   2009 non-null   object
 36  Unnamed: 36                               0 non-null      float64
 37  Unnamed: 37                               0 non-null      float64
 38  Created                                   2009 non-null   object
 39  inward_issue_block                        2009 non-null   int32
 40  inward_issue_clone                        2009 non-null   int32
 41  inward_issue_polaris                      2009 non-null   int32
 42  inward_issue_relates                      2009 non-null   int32
 43  outward_issue_columns_Blocks              2009 non-null   int32
 44  outward_issue_columns_Cloners             2009 non-null   int32
 45  outward_issue_columns_Problem             2009 non-null   int32
 46  outward_issue_columns_Relates             2009 non-null   int32
dtypes: float64(5), int32(8), int64(1), object(33)
memory usage: 675.0+ KB

In [67]:
df.columns

Index(['Issue key', 'Issue id', 'Issue Type', 'Project name', 'Project lead',
       'Priority', 'Assignee', 'Reporter', 'Due date', 'Description',
       'Original estimate', 'Remaining Estimate', 'Time Spent',
       'Inward issue link (Blocks)', 'Inward issue link (Blocks).1',
       'Inward issue link (Blocks).2', 'Inward issue link (Blocks).3',
       'Inward issue link (Blocks).4', 'Outward issue link (Blocks)',
       'Inward issue link (Cloners)', 'Inward issue link (Cloners).1',
       'Inward issue link (Cloners).2', 'Inward issue link (Cloners).3',
       'Inward issue link (Cloners).4', 'Inward issue link (Cloners).5',
       'Inward issue link (Cloners).6', 'Inward issue link (Cloners).7',
       'Outward issue link (Cloners)',
       'Inward issue link (Polaris issue link)',
       'Inward issue link (Polaris issue link).1',
       'Inward issue link (Problem/Incident)',
       'Outward issue link (Problem/Incident)', 'Inward issue link (Relates)',
       'Outward issue link (Relates)', 'Status Category',
       'Status Category Changed', 'Unnamed: 36', 'Unnamed: 37', 'Created',
       'inward_issue_block', 'inward_issue_clone', 'inward_issue_polaris',
       'inward_issue_relates', 'outward_issue_columns_Blocks',
       'outward_issue_columns_Cloners', 'outward_issue_columns_Problem',
       'outward_issue_columns_Relates'],
      dtype='object')

In [70]:
df.drop(columns=['Inward issue link (Blocks)', 'Inward issue link (Blocks).1',
       'Inward issue link (Blocks).2', 'Inward issue link (Blocks).3',
       'Inward issue link (Blocks).4', 'Outward issue link (Blocks)',
       'Inward issue link (Cloners)', 'Inward issue link (Cloners).1',
       'Inward issue link (Cloners).2', 'Inward issue link (Cloners).3',
       'Inward issue link (Cloners).4', 'Inward issue link (Cloners).5',
       'Inward issue link (Cloners).6', 'Inward issue link (Cloners).7',
       'Outward issue link (Cloners)',
       'Inward issue link (Polaris issue link)',
       'Inward issue link (Polaris issue link).1',
       'Inward issue link (Problem/Incident)',
       'Outward issue link (Problem/Incident)','Inward issue link (Relates)',
       'Outward issue link (Relates)' , 'Unnamed: 36', 'Unnamed: 37' , 'Status Category Changed'] , inplace=True)

KeyError: "['Inward issue link (Blocks)', 'Inward issue link (Blocks).1', 'Inward issue link (Blocks).2', 'Inward issue link (Blocks).3', 'Inward issue link (Blocks).4', 'Outward issue link (Blocks)', 'Inward issue link (Cloners)', 'Inward issue link (Cloners).1', 'Inward issue link (Cloners).2', 'Inward issue link (Cloners).3', 'Inward issue link (Cloners).4', 'Inward issue link (Cloners).5', 'Inward issue link (Cloners).6', 'Inward issue link (Cloners).7', 'Outward issue link (Cloners)', 'Inward issue link (Polaris issue link)', 'Inward issue link (Polaris issue link).1', 'Inward issue link (Problem/Incident)', 'Outward issue link (Problem/Incident)', 'Inward issue link (Relates)', 'Outward issue link (Relates)', 'Unnamed: 36', 'Unnamed: 37'] not found in axis"

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Issue key                      2009 non-null   object
 1   Issue id                       2009 non-null   int64
 2   Issue Type                     2009 non-null   object
 3   Project name                   2009 non-null   object
 4   Project lead                   2009 non-null   object
 5   Priority                       2009 non-null   object
 6   Assignee                       1913 non-null   object
 7   Reporter                       2009 non-null   object
 8   Due date                       2009 non-null   object
 9   Description                    1345 non-null   object
 10  Original estimate              1024 non-null   float64
 11  Remaining Estimate             1725 non-null   float64
 12  Time Spent                     1660 non-null   float64
 13  Status Category                2009 non-null   object
 14  Status Category Changed        2009 non-null   object
 15  Created                        2009 non-null   object
 16  inward_issue_block             2009 non-null   int32
 17  inward_issue_clone             2009 non-null   int32
 18  inward_issue_polaris           2009 non-null   int32
 19  inward_issue_relates           2009 non-null   int32
 20  outward_issue_columns_Blocks   2009 non-null   int32
 21  outward_issue_columns_Cloners  2009 non-null   int32
 22  outward_issue_columns_Problem  2009 non-null   int32
 23  outward_issue_columns_Relates  2009 non-null   int32
dtypes: float64(3), int32(8), int64(1), object(12)
memory usage: 314.0+ KB

In [72]:
df1=df

In [73]:
df.columns

Index(['Issue key', 'Issue id', 'Issue Type', 'Project name', 'Project lead',
       'Priority', 'Assignee', 'Reporter', 'Due date', 'Description',
       'Original estimate', 'Remaining Estimate', 'Time Spent',
       'Status Category', 'Status Category Changed', 'Created',
       'inward_issue_block', 'inward_issue_clone', 'inward_issue_polaris',
       'inward_issue_relates', 'outward_issue_columns_Blocks',
       'outward_issue_columns_Cloners', 'outward_issue_columns_Problem',
       'outward_issue_columns_Relates'],
      dtype='object')

//for traing i used the params -:'Issue Type', 'Status' , 'Original estimate', 'Remaining Estimate', 'Time Spent' ,  'Status Category' , 'inward_issue_block',
       'inward_issue_clone', 'inward_issue_polaris',
       'outward_issue_columns_Blocks', 'outward_issue_columns_Cloners',
       'outward_issue_columns_Problem', 'outward_issue_columns_Relates',
       'inward_issue_relates' , 'Total_Days' , 'Days_Remaing' , 'spent days' , 'rate of doing' , 'risky or not'

these are the params which i have alrdy 
now params req-: total days provided 
rate of doing work 
if_ rate continue is it risky or not 
make output colm on the based on risky or not risky

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Issue key                      2009 non-null   object
 1   Issue id                       2009 non-null   int64
 2   Issue Type                     2009 non-null   object
 3   Project name                   2009 non-null   object
 4   Project lead                   2009 non-null   object
 5   Priority                       2009 non-null   object
 6   Assignee                       1913 non-null   object
 7   Reporter                       2009 non-null   object
 8   Due date                       2009 non-null   object
 9   Description                    1345 non-null   object
 10  Original estimate              1024 non-null   float64
 11  Remaining Estimate             1725 non-null   float64
 12  Time Spent                     1660 non-null   float64
 13  Status Category                2009 non-null   object
 14  Status Category Changed        2009 non-null   object
 15  Created                        2009 non-null   object
 16  inward_issue_block             2009 non-null   int32
 17  inward_issue_clone             2009 non-null   int32
 18  inward_issue_polaris           2009 non-null   int32
 19  inward_issue_relates           2009 non-null   int32
 20  outward_issue_columns_Blocks   2009 non-null   int32
 21  outward_issue_columns_Cloners  2009 non-null   int32
 22  outward_issue_columns_Problem  2009 non-null   int32
 23  outward_issue_columns_Relates  2009 non-null   int32
dtypes: float64(3), int32(8), int64(1), object(12)
memory usage: 314.0+ KB

In [80]:
df['Created']=pd.to_datetime(df['Created'])

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Issue key                      2009 non-null   object
 1   Issue id                       2009 non-null   int64
 2   Issue Type                     2009 non-null   object
 3   Project name                   2009 non-null   object
 4   Project lead                   2009 non-null   object
 5   Priority                       2009 non-null   object
 6   Assignee                       1913 non-null   object
 7   Reporter                       2009 non-null   object
 8   Due date                       277 non-null    datetime64[ns]
 9   Description                    1345 non-null   object
 10  Original estimate              1024 non-null   float64
 11  Remaining Estimate             1725 non-null   float64
 12  Time Spent                     1660 non-null   float64
 13  Status Category                2009 non-null   object
 14  Status Category Changed        2009 non-null   object
 15  Created                        2009 non-null   datetime64[ns]
 16  inward_issue_block             2009 non-null   int32
 17  inward_issue_clone             2009 non-null   int32
 18  inward_issue_polaris           2009 non-null   int32
 19  inward_issue_relates           2009 non-null   int32
 20  outward_issue_columns_Blocks   2009 non-null   int32
 21  outward_issue_columns_Cloners  2009 non-null   int32
 22  outward_issue_columns_Problem  2009 non-null   int32
 23  outward_issue_columns_Relates  2009 non-null   int32
dtypes: datetime64[ns](2), float64(3), int32(8), int64(1), object(10)
memory usage: 314.0+ KB

In [77]:
df['Due date']=pd.to_datetime(df['Due date'] ,  dayfirst=True, errors='coerce')

C:\Users\BIT\AppData\Local\Temp\ipykernel_25708\695038986.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Due date']=pd.to_datetime(df['Due date'] ,  dayfirst=True, errors='coerce')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009 entries, 0 to 2008
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Issue key                      2009 non-null   object
 1   Issue id                       2009 non-null   int64
 2   Issue Type                     2009 non-null   object
 3   Project name                   2009 non-null   object
 4   Project lead                   2009 non-null   object
 5   Priority                       2009 non-null   object
 6   Assignee                       1913 non-null   object
 7   Reporter                       2009 non-null   object
 8   Due date                       277 non-null    datetime64[ns]
 9   Description                    1345 non-null   object
 10  Original estimate              1024 non-null   float64
 11  Remaining Estimate             1725 non-null   float64
 12  Time Spent                     1660 non-null   float64
 13  Status Category                2009 non-null   object
 14  Status Category Changed        2009 non-null   object
 15  Created                        2009 non-null   datetime64[ns]
 16  inward_issue_block             2009 non-null   int32
 17  inward_issue_clone             2009 non-null   int32
 18  inward_issue_polaris           2009 non-null   int32
 19  inward_issue_relates           2009 non-null   int32
 20  outward_issue_columns_Blocks   2009 non-null   int32
 21  outward_issue_columns_Cloners  2009 non-null   int32
 22  outward_issue_columns_Problem  2009 non-null   int32
 23  outward_issue_columns_Relates  2009 non-null   int32
dtypes: datetime64[ns](2), float64(3), int32(8), int64(1), object(10)
memory usage: 314.0+ KB

In [82]:
df1['Due date'].unique

<bound method Series.unique of 0             NaT
1      2025-06-11
2      2025-06-04
3      2025-05-30
4             NaT
          ...
2004          NaT
2005          NaT
2006          NaT
2007          NaT
2008          NaT
Name: Due date, Length: 2009, dtype: datetime64[ns]>

In [83]:
def random_may_june_date():
    while True:
        month = random.choice([5, 6])  # May or June
        day = random.randint(1, 31 if month == 5 else 30)  # Max days
        try:
            return datetime(2025, month, day).strftime('%Y-%m-%d')
        except ValueError:
            continue  # Skip invalid dates like June 31

# Step 3: Fill missing values in "Due date"
df1['Due date'] = df['Due date'].fillna(lambda: random_may_june_date())

In [84]:
df1['Due date'].unique

<bound method Series.unique of 0       <function <lambda> at 0x00000198D6CA62A0>
1                             2025-06-11 00:00:00
2                             2025-06-04 00:00:00
3                             2025-05-30 00:00:00
4       <function <lambda> at 0x00000198D6CA62A0>
                          ...
2004    <function <lambda> at 0x00000198D6CA62A0>
2005    <function <lambda> at 0x00000198D6CA62A0>
2006    <function <lambda> at 0x00000198D6CA62A0>
2007    <function <lambda> at 0x00000198D6CA62A0>
2008    <function <lambda> at 0x00000198D6CA62A0>
Name: Due date, Length: 2009, dtype: object>

In [90]:
import pandas as pd
import random
from datetime import datetime

# Step 1: Load CSV
df = pd.read_csv('C:\\Users\\BIT\\Downloads\\Modified_Jira_Export_Filled.csv')

# Step 2: Function to generate random May/June 2025 date
def random_may_june_date():
    while True:
        month = random.choice([5, 6])
        day = random.randint(1, 31 if month == 5 else 30)
        try:
            return datetime(2025, month, day).strftime('%Y-%m-%d')
        except ValueError:
            continue

# Step 3: Identify missing values in 'Due date'
mask = df['Due date'].isna()

# Step 4: Fill missing values with random dates
df.loc[mask, 'Due date'] = [random_may_june_date() for _ in range(mask.sum())]

# Step 5: Save the updated file
df.to_csv("Modified_Jira_Export_Filled_Final.csv", index=False)
print("âœ… Successfully filled missing due dates and saved to Modified_Jira_Export_Filled_Final.csv")

âœ… Successfully filled missing due dates and saved to Modified_Jira_Export_Filled_Final.csv

In [89]:
df2['Due date'].unique

<bound method Series.unique of 0       <function <lambda> at 0x7eee8b9024f0>
1                            11-06-2025 00:00
2                            04-06-2025 00:00
3                            30-05-2025 00:00
4       <function <lambda> at 0x7eee8b9024f0>
                        ...
2004    <function <lambda> at 0x7eee8b9024f0>
2005    <function <lambda> at 0x7eee8b9024f0>
2006    <function <lambda> at 0x7eee8b9024f0>
2007    <function <lambda> at 0x7eee8b9024f0>
2008    <function <lambda> at 0x7eee8b9024f0>
Name: Due date, Length: 2009, dtype: object>